<!DOCTYPE html>
<html>
<head>
    <title>Download Page</title>
    <style>
        :root {
            --primary-color: {{ primary }}
            --secondary-color: {{ secondary }}
            --text-color: {{ text }}
            --text-color-2: {{ text_secondary }}
            --background-color: {{ background }}
            --background-color-2: {{ dark_background }}
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Fileshare</h1>  
    <button class="link" id="downloadAll">Download All Files ({{  all_size  }})</button>
    <div id="fileList" class="flex">
        {% include "file_list.html" %}
    </div>
    <div style="height: 300px;"></div>
    <script src="/static/script.js"></script>
</body>
</html>