<!DOCTYPE html>
<html>
<head>
    <title>Download Page</title>
    <style>
        :root {
            --primary-color:#a063f6;
            --secondary-color:#d78ef8;
            --text-color:#e0e0e0;
            --text-color-2:#f8f8f2;
            --background-color:#282a36;
            --background-color-2:#151616;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Fileshare</h1>  
    <button class="link" id="downloadAll">Download All Files ({{  all_size  }})</button>
    <div id="fileList" class="flex">
        {% include "file_list.html" %}
    </div>
    <div style="height: 300px;"></div>
    <script src="/static/script.js"></script>
</body>
</html>