body {
    font-family: Arial, sans-serif;
    background-color: #282a36; 
    color: #e0e0e0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    max-width: 1000px;
    gap: 15px;        
}

h1 {
    font-size: 36pt;
    margin: 30px 0 10px 0;
}

h2 {
    text-align: center;
}

.name {
    font-size: 18px;
    color: #e0e0e0;
    padding: 0;
}

#fileList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.link {
    text-decoration: none;
    background-color: #a063f6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.4s ease;
    min-width: 180px;
    text-align: center;
    font-size: 16px;
    border: none;
}

.link:hover, #downloadAll:hover {
    background-color: #bd93f9;
}

#downloadAll {
    background-color: #8d44f2;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 60px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #20222b; 
    padding: 10px 20px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        padding: 10px 20px 20px 20px;
    }

    .link {
        margin-top: 10px;
        width: 90%;
        padding: 15px 20px;
    }
}